
/* Linear Gradient and radial gradient */
/* .box{
    border: 1px solid black;
    height: 200px;
    width: 150px;
    background-image: linear-gradient(45deg,c red,blue,green);
    /* background-image: linear-gradient(to right,red,blue); */
    /* background-image: linear-gradient(to left red,blue); */
    /* background-image: linear-gradient(to top red,blue); */

/* .mydiv{
    border: 1px solid black;
    margin: 10px;
    height: 300px;
    width: 200px;
    background-image: radial-gradient(white,skyblue,orange);
}  */

/* CSS shadow */
/* h1{
    text-shadow: 3px 3px 3px red;
    text-shadow: 3px 3px 3px red ,5px 5px 5px green;
} */
.box{
    background-color: aqua;
    width:200px;
    height: 200px;
    box-shadow: 10px 10px 15px green, 15px 15px 15px brown; */
    box-shadow: -10px -10px 15px green, 15px 15px 15px brown; */
    color: red;
}
.box1{
    max-height: 100px;
    border: 1px solid black;
    overflow: scroll;
}
.mydiv{
    border: 1px solid black;
    margin: 10px;
    min-height: 100px;
}